<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Happiness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">World Happiness
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>World Happiness Report (2017)</h1>
      <p>Happiness scored according to economic production, social support, etc.</p>
    </div>
    

    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-4">
          <h4>Happiness Heatmap</h4>
          <p>dddddddddddddd</p>
         
        </div>
        <!-- The div where we will inject our map -->
        <div class="col-md-8" id="map">
          
        </div>
      </div>
      <hr>  
      <div class="row">
        <div class="col-md-4">
          <h3>Top 10 / Bottom 10 countries</h4>
          <h4>Happy families (countries) are all alike; every unhappy family(country) is unhappy in its own way.</h4>
          <hr>
          <table style="width:100%">
            <tr>
              <th></th>
              <th>Happiest</th> 
              <th>Least Happy</th>
            </tr>
            <tr>
              <td>Economy</td>
              <td>1.49</td> 
              <td>0.38</td>
            </tr>
            <tr>
              <td>Family</td>
              <td>1.52</td> 
              <td>0.79</td>
            </tr>
            <tr>
              <td>Health</td>
              <td>0.82</td> 
              <td>0.27</td>
            </tr>
            <tr>
              <td>Freedom</td>
              <td>0.61</td> 
              <td>0.26</td>
            </tr>
            <tr>
              <td>Generosity</td>
              <td>0.40</td> 
              <td>0.29</td>
            </tr>
            <tr>
              <td>Trust</td>
              <td>0.32</td> 
              <td>0.13</td>
            </tr>
            <tr>
              <td>Dystopia</td>
              <td>2.25</td> 
              <td>1.39</td>
            </tr>
          </table>
        <hr>
        <br>
        <img src="static/images/average.png" alt="average" height="200" width="300">


        </div>
        <!-- The div where we will inject our bar chart -->
        <div class="col-md-8" id="bar">
          <canvas id="bar-chart-top" width="800" height="450"></canvas>
          <canvas id="bar-chart-bottom" width="800" height="450"></canvas>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h4>Happiness Correlations</h4>
          <p>dddddddddddddd</p>
        </div>
        <!-- The div where we will inject our scatter plot -->
        <div class="col-md-8" id="scatter">
      </div>
      </div>
    </div>
    
 


  

    <footer class="footer">
      <span class="bottom">World Happiness</span>
    </footer>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/app_bar.js"></script>

</body>

</html>
