<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Happiness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">World Happiness
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>World Happiness Report</h1>
      <p>Happiness scored according to economic production, social support, etc.</p>
    </div>
    

    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-4">
          <h4>Happiness Heatmap</h4>
          <p>dddddddddddddd</p>
         
        </div>
        <!-- The div where we will inject our map -->
        <div class="col-md-8" id="map">
          
        </div>
      </div>
      <hr>  
      <div class="row">
        <div class="col-md-4">
          <h3>Top 10 / Bottom 10 countries</h4>
          <h4>Happy families (countries) are all alike; every unhappy family(country) is unhappy in its own way.</h4>
          <hr>
          <div id="average_score"></div>
        </div>
        <!-- The div where we will inject our bar chart -->
        <div class="col-md-8" id="bar">
          <canvas id="bar-chart-top" width="800" height="450"></canvas>
          <canvas id="bar-chart-bottom" width="800" height="450"></canvas>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h3>Happiness Correlations</h3>
          <p>Happiness Scores for 2017 show a strong correlation between Happiness Score and the Economy-GDP Score.  However, there are other factors that have a significant influence on the Happiness Score, as demonstrated by four sets of countries that show significant variances in Happiness Score with very similar Economic-GDP Scores:</p>
          <br>
          <p><b>Somalia vs. Burundi:</b> +77% Happiness, +905% Freedom Score, +236% Family</p>
          <p><b>Nicaragua vs. Syria:</b> +75% Happiness, +450% Freedom, +225% Family</p>
          <p><b>Costa Rica vs. Botswana:</b> +88% Happiness, +667% Dystopia, +122 Health, +116 Generosity</p>
          <p><b>Norway vs. Hong Kong:</b> +38% Happiness, +311% Dystopia</p>
          <p><b>T20 vs. B20:</b> +101% Happiness, +263% Heaalth, +247% Economy, +161% Trust Gov.</p>
          <p><b>USA vs. China:</b> +33% Happiness, +1263% Generosity, +495% Trust Govt.</p>
          <p><b>Scoring for Happiness vs. Economy GDP</b></p>
          <p><b>MSE:</b> 0.3070 <b> R2:</b> 0.7366</p>
        </div>
        <!-- The div where we will inject our scatter plot -->
        <div class="col-md-8" id="scatter">
      </div>
      </div>
    </div>
    
 


  

    <footer class="footer">
      <span class="bottom">World Happiness</span>
    </footer>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/app_bar.js"></script>
  <script src="static/js/leaflet-heat.js"></script>
  <script src="static/js/chart.js"></script>

</body>

</html>
